<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Pili's Corre</title>
<link th:ref="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:ref="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h2 class="panel-title">Lista de corres</h2>
		</div>

		<div class="panel-body">
			<form class="form-inline" method="POST" th:object="${corre}" th:action="@{/corres}" style="margin: 20px 0">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Dono" th:field="*{dono}"/>
					<input type="text" class="form-control" placeholder="Gramas" th:field="*{gramas}"/>
					<input type="text" class="form-control" placeholder="Preço" th:field="*{preco}"/>
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>
			<table class="table" border="1px" cellpadding="5px" cellspacing="0" ID="alter">
				<thead>
					<tr>
						<th>Dono</th>
						<th>Gramas</th>
						<th>Preço</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="corre : ${corres}">
						<td th:text="${corre.dono}"></td>
						<td th:text="${corre.gramas}"></td>
						<td th:text="${corre.preco}"></td>
						<td th:text="${corre.total}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>	
	
</body>
</html>